<apex:component >
    <apex:attribute name="Beneficiarywrapper" description="socialsuiteBeneficiaryRec" type="Beneficiarywrapper" required="required" />
  
    
    
  <table style="margin-top:5px; width:100% " align="center"  >      
    <thead>
        <tr>
            <th colspan="1" class="section-header-small" style="width:65px">
                Goal Name
            </th>
            <th colspan="1" class="section-header-small" style="width:65px">
                Category
            </th>
            <th colspan="1" class="section-header-small" style="width:110px">
                GOAL DESCRIPTION / SMART GOAL
            </th>
            <th colspan="1" class="section-header-small" style="width:40px">
                ACTIVE
		   </th>
            <th colspan="1" class="section-header-small" style="width:50px">
                COMPLETE
            </th>
             <th colspan="1" class="section-header-small" style="width:100px">
			   PERSON RESPONSIBLE
            </th>
            
             <th colspan="1" class="section-header-small" style="width:70px">
			START DATE
            </th>
             <th colspan="1" class="section-header-small" style="width:70px">
			END DATE
            </th>
        </tr>
    </thead>
  
  	<apex:repeat value="{!Beneficiarywrapper.goalwrapperlist}" var="Goal">
       <tr>
           <td class="table-data-row" >
               <apex:outputText value="{!Goal.name}"/>
           </td> 
           <td class="table-data-row">
               <apex:outputText value="{!Goal.primaryCategory}"/>
           </td>
           <td class="table-data-row"  >
               <apex:outputText value="{!Goal.description}"  />
           </td>
           <td class="table-data-row">
              <!-- <apex:outputText value="Yes" rendered="{!Goal.active == true}"/>
               <apex:outputText value="No" rendered="{!Goal.active == false}"/>-->
               <apex:image value="/img/checkbox_checked.gif" rendered="{!Goal.active == true}" width="21" height="16"  title="Checked"/>            
               <apex:image value="/img/checkbox_unchecked.gif" rendered="{!Goal.active == false}" width="21" height="16"  title="UnChecked"/>            
           </td>
           <td class="table-data-row">
                <apex:image value="/img/checkbox_checked.gif" rendered="{!Goal.complete ==true}" width="21" height="16"  title="Checked"/>            
               <apex:image value="/img/checkbox_unchecked.gif" rendered="{!Goal.complete ==false}" width="21" height="16"  title="UnChecked"/>         
           </td>
           <td class="table-data-row">
               <apex:outputText value="{!Goal.personResponsible}" />
           </td>
           <td class="table-data-row">
               <apex:outputText value="{!Goal.startDate}"/>
           </td>
           <td class="table-data-row">
               <apex:outputText value="{!Goal.endDate}"/>
           </td>
       </tr>
   </apex:repeat>
   <tbody></tbody></table>
    <div style="page-break-after:always;"/>
      
</apex:component>