<apex:page standardController="socialsuite__Beneficiary__c" lightningStylesheets="true" extensions="GeneratePDFBlob" docType="html-5.0">
       

<script type="text/javascript">
   Visualforce.remoting.timeout = 120000;
   function toggleBtn(d){
   		for(i=0;i< document.getElementsByClassName('btn').length ;i++)
        	{document.getElementsByClassName('btn')[i].disabled = d;}
         var elementId=document.getElementById('showStatus');
       if (d){elementId.style.display='block'}
       else{elementId.style.display='none'}
	}
   
    function saveImage(){ 	
         toggleBtn(true);
         Visualforce.remoting.Manager.invokeAction(
             "{!$RemoteAction.GeneratePDFBlob.saveSatisfactionChartAsfile}",
             "{!$CurrentPage.parameters.Id}",
             document.getElementsByClassName("chart")[0].toDataURL("image/png").replace('data:image/png;base64,', ''),
      		 document.getElementsByClassName("chart")[1].toDataURL("image/png").replace('data:image/png;base64,', ''),
          	 function(result,event){
                 toggleBtn(false);
             	if(event.statusCode == 200){ 
                    doRedirect(result[0],result[1]);
                    
                }

                
             }
          );
    }

 </script>

<div style="width:100">
<apex:pageBlock >
    <apex:pageBlockSection columns="1" >
    <apex:pageBlockTable value="{!socialsuite__Beneficiary__c.Goals__r}" var="Goal" Title="Goals">

         <apex:column value="{!Goal.Name}"/>
         <apex:column value="{!Goal.Primary_Category__c}"/>               
         <apex:column value="{!Goal.Description__c}"/>
         <apex:column value="{!Goal.Active__c}"/>
         <apex:column value="{!Goal.Complete__c}"/>
         <apex:column value="{!Goal.Person_Responsible__c}"/>
         <apex:column value="{!Goal.Start_Date__c}"/>
         <apex:column value="{!Goal.End_Date__c}"/>     
  
          
      </apex:pageBlockTable>

    </apex:pageBlockSection>
</apex:pageBlock>
</div> 

<div id= "chart" display= "inline">  
<apex:pageBlock > 

<apex:pageBlockSection >
<!-- Report name: Satisfaction Goal Ratings -->
<analytics:reportChart reportId="00O7F00000AtLBkUAN"
                       filter="{column:'socialsuite__Beneficiary__c.Id', operator:'equals', value:'{!socialsuite__Beneficiary__c}'}"
                       hideonerror="false"
                       size="large"
                       cacheresults="false"
                       showRefreshButton="false">
</analytics:reportChart>

<!-- Report name: Performance Goal Ratings -->  
<analytics:reportChart reportId="00O7F00000AtLBiUAN"
                       filter="{column:'socialsuite__Beneficiary__c.Id', operator:'equals', value:'{!socialsuite__Beneficiary__c}'}"
                       hideonerror="false"
                       size="large"
                       cacheresults="false"
                       showRefreshButton="false">
</analytics:reportChart>
</apex:pageBlockSection>
</apex:pageBlock>
 </div>

<div style="width:100">
<apex:pageBlock >

    <apex:pageBlockSection columns="1" >
    <apex:pageBlockTable value="{!socialsuite__Beneficiary__c.Goals__r}" var="Goal" Title="Goals">
         <apex:column width="100px" value="{!Goal.Name}" headervalue="Goal Name"/> 
         <apex:column width="100px" value="{!Goal.Enablers_Persons_Perspective__c}" headervalue="Enabler - PP"/>  
         <apex:column width="100px" value="{!Goal.Enablers_Others_Perspective__c}" headervalue="Enabler - OP"/>      
         <apex:column width="100px" value="{!Goal.Enablers_Service_or_Support_Provider__c}" headervalue="Enabler - SP"/>
         <apex:column width="100px" value="{!Goal.Impact_Persons_Perspective__c}" headervalue="Impact- PP"/>
         <apex:column width="100px" value="{!Goal.Impact_Others_Perspective__c}" headervalue="Impact- OP"/>
         <apex:column width="100px" value="{!Goal.Impact_Service_or_Support_Provider__c}" headervalue="Impact - SP"/>
         <apex:column width="100px" value="{!Goal.Barriers_Persons_Perspective__c}" headervalue="Barrier- PP"/>
         <apex:column width="100px" value="{!Goal.Barriers_Others_Perspective__c}" headervalue="Barrier- OP"/>     
         <apex:column width="100px" value="{!Goal.Barriers_Service_or_Support_Provider__c}" headervalue="Barrier- SP"/>   
  
          
      </apex:pageBlockTable>

    </apex:pageBlockSection>
</apex:pageBlock>
</div>


      
    <Button class ="btn" value="Print Goal Report" onclick="saveImage();">Generate Goals Report PDF</Button>
<apex:form >
   <!-- <apex:actionFunction action="{!saveSatisfactionChartAsfile}" name="generateImage"  reRender="none" status="generating"  > 
    	<apex:param name="recid" id="id" assignTo="{!recordId}" value="" />
        <apex:param name="satisfactionImageData" id="satisfactionImageData" assignTo="{!satisfactionImageData}" value=""  />  
        <apex:param name="performanceImageData" id="performanceImageData" assignTo="{!performanceImageData}" value=""  />
    </apex:actionFunction>-->

    <apex:actionFunction action="{!pageTransfer}" name="doRedirect"  reRender="none" status="Loading"  > 
    	<apex:param name="chart1" id="chart1" assignTo="{!chart1id}" value="" />
        <apex:param name="chart2" id="chart2" assignTo="{!chart2id}" value=""  />  
    </apex:actionFunction>


    
    <apex:outputPanel id="loadingpanel">
        <div id= "showStatus" style="display:none" >
         <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.25; z-index: 1000; background-color: black;">
                &nbsp;
           </div>
             <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 15% 50%">
             <div style="display: inline-block; padding: 2px; background-color: #fff; width: 125px;">
                            <img src="/img/loading.gif" style="float: left; margin: 8px;" />
                            <span style="display: inline-block; padding: 10px 0px;">Please Wait...</span>
             </div>
             </div>
             </div>
    </apex:outputPanel>

    
 </apex:form>   
    
</apex:page>