<apex:page showHeader="false"  standardController="socialsuite__Beneficiary__c"
           sidebar="false" renderAs="pdf"  applyBodyTag="false" applyHtmlTag="false"  extensions="GenerateOISBPdfController">
    <html>
      <head>
        <style type="text/css">
            
             @page {
                    size:A4 landscape;
                    margin-top: 50px;
                    margin-left: 20px;
                    margin-right: 20px;
                    margin-bottom: 50px;
            		border-width: thin;
            		border-style: solid;
                	border-color: #16325C;
                    @bottom-right {
                        content: element(footer);
                    }
                    @top-left { content: element(header); }

             }
            
             .section-header {
                    font-size: 22px;
                    line-height: 17px;
                    font-weight: bold;
                    padding-left: 11px;
                    padding-top: 6px;
                    padding-bottom: 6px;
                    margin-bottom: 14px;
                    margin-top:15px;
                    text-align: left;
                    color: #16325C;
            }
            .legend1 {
                    padding-left: 0px;
                    padding-top: 0px;
                    margin-top:0px;
                    text-align: left;
            		vertical-align: top;
            }
            
            .legend{
             		vertical-align: top;
            }
        </style>
        </head>
        <body class="container">
             <table style="margin-top:10px;">
                <thead>
                    <tr>
                        <th class="section-header" style="width:80%;">
                            OISB Reports
                        </th>
                       
                    </tr>
               </thead>    <br/>
               <tbody>
                      <tr>
                       <td style="width:80%;">  
                            
                          <apex:image value="{!'/sfc/servlet.shepherd/version/download/' + chartId}" width="90%" height="100%"/> 
            
                       </td>
                       <td >    
                          <apex:image value="{!'/sfc/servlet.shepherd/version/download/' + legendId}" width="200" height="200"/>
                       </td>
                       </tr> 
                </tbody> 
            </table>
            
   
        </body>  
         
    </html>
</apex:page>